.contactFormButton {
  padding: 20px 40px;
  border-color: white;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #090a0f;
  cursor: pointer;
  margin-bottom: 10px;
}

.contactFormButton:hover,
.contactFormButton:focus,
.contactFormButton:active,
.contactFormButton.active,
.open .dropdown-toggle.contactFormButton {
  border-color: #1b2735;
  color: #1b2735;
  background-color: rgb(211, 209, 209);
}

section#contact {
  background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  background-size: 100vw;
}

section#contact .section-heading {
  color: #fff;
  text-align: center;
}
#contactSection {
  display: flex;
  justify-content: center;
}
section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
  width: 400px;
}

section#contact .form-group textarea.form-control {
  height: 236px;
  width: 400px;
}

section#contact .form-control:focus {
  border-color: #1ee2e7;
  box-shadow: none;
}

section#contact::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #bbb;
}

section#contact:-moz-placeholder {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #bbb;
}

section#contact::-moz-placeholder {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #bbb;
}

section#contact:-ms-input-placeholder {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #bbb;
}

section#contact .text-danger {
  color: #e74c3c;
}
